
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="./static/css/landing.css">
	<title>App Estacion</title>

	<!-- <link rel="stylesheet" type="text/css" href="{{URL_WEB}}/static/css/estilos.css{{CACHE}}"> -->

</head>

<style type="text/css">

</style>

<body>
	<div id="wrapper">

		<div id="list-estacion">
			<div id="list-estacion-title">Estaciones</div>
		</div>

		<template id="tpl-btn-estacion">
			<a href="" class="btn-estacion">
				<div class="estacion-apodo">
					
				</div>

				<div class="estacion-ubicacion">
					
				</div>

				<div class="estacion-visitas">
					
				</div>
			</a>
		</template>
	</div>

	<script src="https://mattprofe.com.ar/alumno/3867/app-estacion/static/js/estacion.js"></script>
</body>
</html>